.height {
  height: 2000px;
  background-color: red;
  display: block;
}
.blue {
  display: flex;
  height: 40vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contain {
  background-color: aqua;
  height: 50vh;
  overflow-y: scroll;
}
image {
  transition: "all";
  transition-duration: "1.5s";
  position: absolute;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
html {
  scroll-behavior: smooth;
}
.transformMount {
  background: radial-gradient(
    241.19% 244.49% at 123.84% 111.37%,
    #2ebbff 0%,
    #fe17ff 68.41%,
    #6232ea 100%
  );
  transition-duration: 0.5s !important;
}
.phoneDiv {
  z-index: 10;
  position: absolute;
  transition: all 0.5s;
}

.bigWhiteCircle {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
}
.placeTitle,
.placeText,
.placeButton {
  position: absolute;
  left: 100px;
  font-weight: 600;
  font-size: 48px;
  color: white;
  line-height: 56px;
  transition: all 1s;
}
.placeText {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: 554px;
}
.placeButton {
  font-weight: 510;
  font-size: 16px;
  line-height: 40px;
  bottom: 150px;
}
.circle1,
.circle2,
.circle3 {
  background-color: #ffffff15;
  z-index: 5;
  position: absolute;
  border-radius: 100%;
  transition: all 0.5s;
}
.circle1 {
  bottom: 50px;
  right: 290px;
}

.circle2,
.stars {
  top: -200px;
  right: -50px;
}
.circle3 {
  bottom: -50px;
  right: 725px;
}
.stars {
  z-index: 10;
  position: absolute;
  bottom: 0;
  background-color: black;
}
